html, body {
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #FAF3E0;
    font-family: Helvetica;
}

a1 {
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    color: #FAF3E0;
}

a2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    color: #FAF3E0;
}

.upper-area {
    padding: 20px;
    text-align: left;
    background-color: #1E212D;
    color: #1E212D;
    font-size: 20px;
}

